.icon {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1.1em;
  line-height: 1;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
}

/* social icons*/

.social-icons {
  .fas,
  .fab,
  .far,
  .fal {
    color: $body-text-color;
  }

  .fa-behance,
  .fa-behance-square {
    color: $behance-color;
  }

  .fa-bitbucket {
    color: $bitbucket-color;
  }

  .fa-dribbble,
  .fa-dribble-square {
    color: $dribbble-color;
  }

  .fa-facebook,
  .fa-facebook-square,
  .fa-facebook-f {
    color: $facebook-color;
  }

  .fa-flickr {
    color: $flickr-color;
  }

  .fa-foursquare {
    color: $foursquare-color;
  }

  .fa-github,
  .fa-github-alt,
  .fa-github-square {
    color: $github-color;
  }

  .fa-gitlab {
    color: $gitlab-color;
  }

  .fa-instagram {
    color: $instagram-color;
  }

  .fa-keybase {
    color: $keybase-color;
  }

  .fa-lastfm,
  .fa-lastfm-square {
    color: $lastfm-color;
  }

  .fa-linkedin,
  .fa-linkedin-in {
    color: $linkedin-color;
  }

  .fa-mastodon,
  .fa-mastodon-square {
    color: $mastodon-color;
  }

  .fa-pinterest,
  .fa-pinterest-p,
  .fa-pinterest-square {
    color: $pinterest-color;
  }

  .fa-reddit {
    color: $reddit-color;
  }

  .fa-rss,
  .fa-rss-square {
    color: $rss-color;
  }

  .fa-soundcloud {
    color: $soundcloud-color;
  }

  .fa-stack-exchange,
  .fa-stack-overflow {
    color: $stackoverflow-color;
  }
}
