.splashpage-content{
  align-items:center;
  justify-content:center;
  flex-flow:column;
  display:flex;
  height: 100vh;
  color: $header-heading-color;
  background-color: $header-bg-color;
  background-image: linear-gradient(to bottom, $header-bg-color-secondary, $header-bg-color);
}
.splashpage-div{
  
}
