.splashpage-content{
  align-items:center;
  justify-content:center;
  flex-flow:column;
  display:flex;
  height: 100vh;
  color: $header-heading-color;
  background-color: $header-bg-color;
  background-image: ![book plant](/images/bookplant.jpg "bookplant");
}
.splashpage-div{
  
}
